<div class="container">
  <div class="wrapper">
    <div class="title"><span>Accedi</span></div>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <div class="row">
        <i class='bx bxs-user labelIcon'></i>
        <input type="email" placeholder="Email" required ngModel name="email">
      </div>
      <div class="row">
        <i class='bx bx-lock labelIcon'></i>
        <input type="password" placeholder="Password" required ngModel name="password" minlength="6">
      </div>
      <div class="row button">
        <button type="submit">
          <i class='bx bx-loader-alt bx-spin' *ngIf="this.isLoading"></i>
          <i class='bx bx-log-in-circle' *ngIf="this.isLoading == false"></i>
          Accedi 
        </button>
      </div>
      <div class="link">Non hai un account? <a routerLink="/register">Crealo qui</a></div>
      <div class="link"><a routerLink="/recuperoPword" class="ResetPword">Hai dimenticato la Password?</a></div>
    </form>
    <div *ngIf-else>{{ message }}</div>
  </div>
</div>