<div class="card-list">
	<article class="card with-border-and-shadow">
	   <figure class="card-image">
		  <img [src]="img" />
	   </figure>
 
	   <div class="card-header">
		  <p href="#" style="color: black;">{{piatto.codice}} - {{piatto.nome}}</p>
		  <button class="icon-button">
 
			 <span class="material-icons" [class.favorite]="piatto.preferito" [class.favorite_border]="!piatto.preferito" (click)="pulsantePreferiti(i)" [style.color]="piatto.preferito ? 'red' : ''">
				{{ piatto.preferito ? 'favorite' : 'favorite_border' }}
			 </span>
		  </button>
	   </div>
	   <div class="card-footer">
		  <mat-card-actions>
			 <button mat-button (click)="rimuoviPiatto(i)">-</button>
			 <p class="quantPiatto">{{servizioMenu.menu[i].counter}}</p>
			 <button mat-button (click)="aggiungiPiatto(i)">+</button>
		  </mat-card-actions>
	   </div>
	</article>
 </div>

 