<head>
  <meta charset="UTF-8">
  <!-- Boxicons CDN Link -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="overlay {{ isOpen ? 'overlayShadow' : 'none' }}"></div>


<!-- Header -->

<div class="sidebar" [hidden]="!getIsUserLogged()">

  <div class="logo-details">
    <i class='{{Navbar.Header.Icon}} icon'></i>
    <div class="logo_name">{{Navbar.Header.Title}}</div>
    <i class='bx bx-menu' id="btn"></i>
  </div>

  <ul class="nav-list">

    <!-- Searchbar (non funziona la parte di filtraggio del menu) -->
    <li *ngIf="Navbar.Customizations?.showSearchBar">
      <i class='bx bx-search'></i>
      <input type="text" placeholder="Cerca...">
      <span class="tooltip" *ngIf="Navbar.Customizations?.showToolTip">Cerca</span>
    </li>

    <!-- NavBar Cells -->
    <ul>
      <li *ngFor="let cell of Navbar.Cells">
        <a (click)="changeRoute(cell.routing)"
          *ngIf="cell.adminRestriction == null || (cell.adminRestriction == true && this.isAdmin == true)">
          <i class="bx bx-{{ cell.ico }} bx-burst-hover"></i>
          <span class="links_name ">{{ cell.desc }}</span>
        </a>
        <span class="tooltip" *ngIf="Navbar.Customizations?.showToolTip">{{cell.desc}}</span>

      </li>
    </ul>

    <!-- profile / logout -->
    <li class="profile">
      <div class="profile-details">
        <img src={{immagineProfilo}} class="pointer" alt="profileImg" (click)='changeRoute("profilo")'>
        <div class="name_job">
          <div class="name">{{username}}</div>
          <div class="job">{{isAdmin ? Navbar.Footer.adminLabel : Navbar.Footer.userLabel}}</div>
        </div>
      </div>
      <i class='bx bx-log-out pointer' id="log_out" (click)="popupLogout()"></i>
    </li>


  </ul>
</div>