<head></head>
<div class="container">
    <div class="wrapper">
      <div class="title"><span>Registrazione</span></div>
      <form #registrationform="ngForm" (ngSubmit)="onSubmit(registrationform)">
       <!--
        <div class="row">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Nome" required ngModel name="nome">
        </div>
        <div class="row">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Cognome" required ngModel name="cognome">
        </div>
        -->
        <div class="row">
          <i class='bx bxs-user labelIcon'></i>
          <input type="text" placeholder="Username" required ngModel name="username">
        </div>
        
        <div class="row">
          <i class='bx bx-envelope labelIcon'></i>
          <input type="text" placeholder="Email" required ngModel name="email">
        </div>
        <div class="row">
          <i class="bx bx-lock labelIcon"></i>
          <input type="password" placeholder="Password" required ngModel name="password" minlength="6">
        </div>

        <div class="row button">
          <button type="submit">
            <i class='bx bx-loader-alt bx-spin' *ngIf="this.isLoading"></i>
            <i class='bx bx-user' *ngIf="this.isLoading == false && this.isBeforeLoading"></i>
            <i class='bx bx-user-voice' *ngIf="this.isLoading == false && this.authError == false && this.isBeforeLoading == false"></i>
            <i class='bx bx-user-x' *ngIf="this.isLoading == false && this.authError && this.isBeforeLoading == false"></i>

            Registrati
          </button>
        </div>
        <div class="signup-link">Hai già un account? <a routerLink="/login">Accedi qui</a></div>
      </form>
    </div>
  </div>