<div class="profile-section">
    <div class="center-line"></div>
    <div class="immageContainer">
        <img class="profile-image" [src]="immagineProfilo" alt="Foto Profilo">
    </div>
</div>
<div>
    <h1 class="username">{{ username }}</h1>
</div>
<div class="containerPulsanti d-flex justify-content-center">
    <input type="file" accept=".jpg" (change)="onFileSelected($event)" style="display: none" #fileInput>
    <p-button label="Cambia immagine Profilo" [rounded]="true" severity="help" (click)="fileInput.click()" size="small" class="text-center"></p-button>
</div>

<div class="divContainer">

    <div class="ElencoOrdiniSalvati">
        <h1 class="title" style="color: aliceblue;">Elenco Ordini Salvati</h1>
        <div class="elencoOrdiniRapidi">
        <div *ngFor="let ordiniRapidi of this.ordiniSalvati let i = index" class="contenitorePiattiMenu " >
            <div *ngFor="let piatto of this.ordiniRapidi" class="ordineContainer" >
                <img [src]="this.getImages('immaginiPiatti', piatto.codice)" class="imgPiatti">
                <div class="testoPiatti">
                    <p>{{piatto.codice}} x {{piatto.numeropiatti}}</p>
                    <!-- <p>{{piatto.descrizione}}</p> -->
                </div>
            </div>

            <div class="containerPulsantiOrdineRapido">
                <p-button  label="" class=" font-bold pulsanteOrdineRapido" (click)="duplicaOrdine()" size="small" [loading]="this.isLoading">
                    Ordina Ora 
                    <i class='bx bx-cart' *ngIf="this.isLoading == false"></i>
                </p-button>
                <p-button  label="" class=" font-bold pulsanteOrdineRapido" (click)="duplicaOrdine()" size="small" severity="danger" [rounded]="true" [loading]="this.isLoading">
                    <i class='bx bxs-trash' *ngIf="this.isLoading == false"></i>
                </p-button>

            </div>
            </div>
        </div>
    </div>

    <div class="ultimoOrdine">
        <h1 class="title">Ultimo Ordine</h1>
        <div class="elencoPiatti">
            <div *ngFor="let piatto of this.ultimoOrdine let i = index" class="contenitorePiattiOrdiniSalvati ">
                <img [src]="this.getImages('immaginiPiatti', piatto.codice)" class="imgPiatti">
                
                <div class="contenitoreCodice"> 
                    <p>{{piatto.codice}} x {{piatto.numeropiatti}}</p>
                </div>

                <div class="contenitoreNome"> 
                    <p>{{piatto.descrizione}}</p> 
                </div>
            </div>
        </div>
        <div class="containerPulsantiDiv">
           <p-button  label="" class=" font-bold pulsanteOrdineRapido" (click)="duplicaOrdine()" [loading]="this.isLoading">
            Ordina ancora 
            <i class='bx bx-cart' *ngIf="this.isLoading == false"></i>
        </p-button>
        </div>
    </div>
</div>
