<div class="profile-section">
    <div class="center-line"></div>
    <div class="immageContainer">
        <img class="profile-image" [src]="immagineProfilo" alt="Foto Profilo">
    </div>
</div>
<div>
    <h1 class="username">{{ username }}</h1>
</div>
<div class="containerPulsanti d-flex justify-content-center">
    <input type="file" accept=".jpg" (change)="onFileSelected($event)" style="display: none" #fileInput>
    <p-button label="Cambia immagine Profilo" [rounded]="true" severity="help" (click)="fileInput.click()" size="small" class="text-center"></p-button>
</div>

<div class="divContainer">
    <div class="ElencoOrdiniSalvati">
        <h1 class="title" style="color: aliceblue;">Elenco Ordini Salvati</h1>
        <p>WORK IN PROGRESS</p>
        <div *ngFor="let ordiniRapidi of this.ordiniSalvati let i = index" class="contenitorePiattiMenu " >
            <div *ngFor="let piatto of this.ordiniRapidi">
                <p>{{ piatto.id }} || {{ piatto.descrizione }}</p>
            </div>
        </div>
    </div>

    <div class="ultimoOrdine">
        <h1 class="title">Ultimo Ordine</h1>
        <div class="elencoPiatti">
            <div *ngFor="let piatto of this.ultimoOrdine let i = index" class="contenitorePiattiMenu ">
                <img [src]="this.getImages('immaginiPiatti', piatto.codice)" class="imgPiatti">
                
                <div class="contenitoreCodice"> 
                    <p>{{piatto.codice}} x {{piatto.numeropiatti}}</p>
                </div>

                <div class="contenitoreNome"> 
                    <p>{{piatto.descrizione}}</p> 
                </div>
            </div>
        </div>
        <div class="containerPulsantiDiv">
            <button pButton pRipple label="" class="p-button font-bold" (click)="duplicaOrdine()">
                <i class='bx bx-cart' *ngIf="this.isLoading == false"></i>
            <i class='bx bx-loader-alt bx-spin' *ngIf="this.isLoading"></i>
            Ordina ancora 
           </button>
        </div>
    </div>
</div>
