body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    position: relative;
}

.profile-section {
    margin-top: 50px; /* Modifica questa misura per regolare la distanza dall'alto */
    text-align: center;
    position: relative;
}
.immageContainer{
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 0 10px #04364A; /* Margine colorato */
    position: relative;
}
.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
}


.center-line {
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: #04364A;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.divContainer{
    display: flex; /* or inline-flex */
    flex-direction: row
}

.ultimoOrdine, .ElencoOrdiniSalvati{
    background-color: #04364A;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    min-height: 50vh;
    margin: 20px;
}
.ultimoOrdine{
    background-color: aliceblue;
    min-width: 220px;
    min-height: 40vh;
}

.ElencoOrdiniSalvati{
    flex-grow: 1;
    min-height: 200px;
    

}







.username{
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    font-family: 'sf wasabi', sans-serif;
}
.title{
    padding: 10px;
    text-align: center;
    font-family: 'sf wasabi', sans-serif;
}

.containerPulsanti,.containerPulsantiDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.imgPiatti{
    width: 70px;
    height: 70px;
    margin-left: 5px;
    border-radius: 10px;
    margin-right: 20px;
  }



.contenitorePiattiMenu {
    display: flex;
    justify-content: space-between; /* Spazia gli elementi flessibili il più possibile l'uno dall'altro */
    align-items: center; /* Allinea verticalmente al centro */
    margin-top: 20px;
    display: flex;
    align-items: center;
    height: 80px;
    background-color: rgb(218, 218, 218);  
    border-radius: 10px;
    border: 2px solid purple; /* Sostituisci 'your_color' con il colore desiderato */
    margin: 10px;
}
.contenitoreCodice{
    width: 50px;
    min-width: 50px;
  }

  .containerPulsantiDiv {
    width: calc(100% - 20px); /* Calcola la larghezza sottraendo il padding del contenitore */
    height: 50px;
    margin-top: 10px;
}
.elencoPiatti{
    max-height: 380px;
    padding: 10px;
    position: relative;
    overflow: auto;
    padding-top: 5px;
}
.elencoOrdiniRapidi{
    max-height: 390px;
    padding: 10px;
    position: relative;
    overflow: auto;
    padding-top: 5px;
}
.testoPiatti {
    flex-grow: 1;  /* Fai espandere il contenuto testuale per occupare lo spazio rimanente */
}
.ordineContainer {
    display: flex;  
    align-items: center;
    width: 160px;  
    margin-right: 10px; /* Aggiunge uno spazio tra gli ordini */

}
.contenitoreElencoPiatti{
    overflow: auto;
    max-height: 400px;
}

.containerPulsantiOrdineRapido {
    display: flex;
    margin-left: auto; /* Sposta il container pulsanti a destra */
    align-items:center;
    gap: 10px;
    min-width: 190px;
    
}


.contenitorePiattiOrdiniSalvati {
    margin-top: 20px;
    display: flex;
    align-items: center;
    height: 80px;
    background-color: rgb(218, 218, 218);  
    border-radius: 10px;
    border: 2px solid purple; /* Sostituisci 'your_color' con il colore desiderato */
    margin: 10px;
}

@media (max-width: 800px) {
    .profile-image {
        width: 130px;
        height: 130px;
    }
    .immageContainer {
        display: inline-block;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0 0 0 10px #04364A; /* Margine colorato */
    }
    .ultimoOrdine, .ElencoOrdiniSalvati {
        margin: 10px; /* Aggiungi il margine ai div interni */
    }
}

@media (max-width: 1450px) {
    .divContainer {
        display: flex; /* or inline-flex */
        flex-direction: column;
    }
    .ultimoOrdine, .ElencoOrdiniSalvati {
        flex-wrap: wrap;
    }
}


/* Stili per schermi più piccoli come quelli dei dispositivi mobili */
@media only screen and (max-width: 1200px) {
    .ordineContainer {
        display: flex;  
        align-items: center;
        width: 100%;  
        margin-top: 10px; /* Aggiunge uno spazio tra gli ordini */

    }
    .containerPulsantiDiv,.containerPulsantiOrdineRapido{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .elencoPiatti {
        width: 100%; /* Utilizza tutta la larghezza disponibile */
        min-height: initial; /* Rimuovi l'altezza minima */
        margin: 0; /* Rimuovi il margine laterale */
        padding: 5px; /* Riduci il padding */
        overflow: auto;
      }
    
      .contenitorePiattiMenu {
        height: auto; /* Imposta l'altezza automatica per adattarsi al contenuto */
        margin-top: 10px; /* Riduci il margine superiore */
        flex-wrap: wrap;
      }
    


}