<h1 class="titolo">Classifiche</h1>
<h1 class="sottotitolo">Gli utenti più affamati</h1>
<hr>
<br>
<div class="contenitoreordiniPerUtente">
    <div class="tableContainer rounded-table">
        <table mat-table [dataSource]="tabellaclassificaOrdiniPerUtente" matSort matPaginator>

            <ng-container matColumnDef="avatar">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let user"><img src="{{getImages('avatars', user.username)}}" class="immginiProflo"></td>
            </ng-container>
            
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef>Nome</th>
                <td mat-cell *matCellDef="let user; let i = index">
                    {{ user.username }}
                    <span *ngIf="i === 0">
                        <i class='bx bx-crown'></i>
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="numeroordini">
                <th mat-header-cell *matHeaderCellDef>Ordini</th>
                <td mat-cell *matCellDef="let user">{{ user.numeroordini }}</td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumnsClassificaUtenti"></tr>
            <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumnsClassificaUtenti;" 
            [ngClass]="{'oro': i === 0, 'argento': i === 1, 'bronzo': i === 2}"></tr>
        </table>
    </div>

    <div class="charContainer">
        <div class="char">
            <p-chart type="pie" [data]="graficoclassificaOrdiniPerUtente" [options]="options" [style]="{'width': '100%'}" [responsive]="true" ></p-chart>            
        </div>
    </div>
</div>


<h1 class="sottotitolo">I Piatti Più Gustosi</h1>
<hr>
<br>

<div class="contenitorePiattiPiuMangiati">
    <div class="tableContainer rounded-table">
        <table mat-table [dataSource]="tabellaPiattiPiuOrdinati" matSort >
            
            <ng-container matColumnDef="immagine">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let piatto"><img src="{{getImages('immaginiPiatti', piatto.id)}}" class="immginiProflo"></td>
            </ng-container>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Codice</th>
                <td mat-cell *matCellDef="let piatto; let i = index">
                    {{ piatto.id }}
                    <span *ngIf="i === 0">
                        <i class='bx bx-crown'></i>
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="descrizione">
                <th mat-header-cell *matHeaderCellDef>Nome</th>
                <td mat-cell *matCellDef="let piatto; let i = index">
                    {{ piatto.descrizione }}
                    <span *ngIf="i === 0">
                        <i class='bx bx-crown'></i>
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="numeroordinazioni">
                <th mat-header-cell *matHeaderCellDef>Ordini</th>
                <td mat-cell *matCellDef="let piatto">{{ piatto.numeroordinazioni }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsClassificaPiatti"></tr>
            <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumnsClassificaPiatti;" 
            [ngClass]="{'oro': i === 0, 'argento': i === 1, 'bronzo': i === 2}"></tr>
        </table>
    </div>

    <div class="charContainer">
        <div class="char">
            <p-chart type="pie" [data]="graficoPiattiPiuOrdinati" [options]="options" [style]="{'width': '100%'}" [responsive]="true" ></p-chart>            
        </div>
    </div>
</div>


<app-footer></app-footer>
