/* HEADER */

.titolo {
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
    padding: 10px;
    margin-top: 3vh;
    font-family: 'sf wasabi', sans-serif;
}

.sottotitolo {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin-top: 3vh;
    font-family: 'sf wasabi', sans-serif;
}



/* CONTAINER CLASSIFICHE */
.contenitoreordiniPerUtente,
.contenitorePiattiPiuMangiati {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;

}

/* GRAFICI */


.charContainer {
    display: flex;
    justify-content: center;
    flex-grow: 1;

    height: min-content;
}

.char {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    padding: 10px;
    background-color: white;


}


/* CLASSIFICA */

/* TODO : AGGIUNGERE OVERFLOW */
.tableContainer {
    flex-grow: 10;
    height: min-content;

}


/* STILI CLASSIFICA */

.immginiProflo {
    width: 52px;
    height: 52px;
}

.oro {
    background-color: #ffd700;
}

.argento {
    background-color: #c0c0c0;
}

.bronzo {
    background-color: #cd7f32;
}

.rounded-table {
    border-radius: 10px;
    overflow: hidden;

}



@media (max-width: 1000px) {

    /* HEADER */
    .titolo {
        font-size: 30px;
    }

    .sottotitolo {
        font-size: 20px;
    }

    /* GRAFICI */

    .char {
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 10px;
        padding: 10px;
        background-color: white;

        width: 45vw;

    }

}