.classificaOrdiniPerUtente{
    background-color: white;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
}
.contenitoreordiniPerUtente, .contenitorePiattiPiuMangiati {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Aggiungi altri stili o regole secondo necessità */
}
.contenitorePiattiPiuMangiati{
    margin-bottom: 20px;
}

.tabellaOrdini {
    flex-grow: 1;
    margin: 0 20px; /* Aggiungi margine ai lati */
    margin-top: 15px;
}


.classificaOrdiniPerUtente {
    margin: 10px;    
    margin: 10px;    
}
.titlo{
    color: rgb(255, 255, 255);
    font-family: 'Noto Sans JP';
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    margin-top: 3vh;
}


.sottotitolo{
    color: rgb(255, 255, 255);
    font-family: 'Noto Sans JP';
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    margin-top: 3vh;
}


.immginiProflo{
    width: 50px;
    height: 50px;
}
.oro {
    background-color: #ffd700; /* colore oro */
}

.argento {
    background-color: #c0c0c0; /* colore argento */
}

.bronzo {
    background-color: #cd7f32; /* colore bronzo */
}
.classifiche{
    min-width: '25rem'
}
/* Aggiungi questo codice alla fine del tuo file di stile CSS o nel tag style nel tuo HTML */

@media (max-width: 800px) {
    .contenitoreordiniPerUtente, .contenitorePiattiPiuMangiati {
        flex-direction: column;
        align-items: center;
        max-width: 100%; /* Imposta la larghezza massima della tabella al 100% del contenitore */
        overflow-x: auto; /* Aggiunge uno scroll orizzontale se la tabella è più ampia del contenitore */
    
    }

    .classificaOrdiniPerUtente, .contenitorePiattiPiuMangiati {
        width: auto;
    }

    .tabellaOrdini, .tabellaPiattiPiuMangiati {
        margin: 0;
    }
    .p-table {
        min-width: initial !important; /* Rimuove il min-width impostato da PrimeNG */
    }
}
