<div class="container">
    <div class="wrapper">
      <div class="title"><span>Resetta Password</span></div>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <div class="row">
          <i class='bx bxs-lock labelIcon'></i>
          <input type="Password" placeholder="Password" required ngModel name="Password" #passwordInput>
          <span class="password-toggle" (click)="togglePasswordVisibility()">
            <i *ngIf="this.isPasswordVisible == false" class='bx bx-show' ></i>
            <i *ngIf="this.isPasswordVisible" class='bx bx-low-vision' ></i>
          </span>
        </div>
        <div class="row">
          <i class='bx bxs-lock labelIcon'></i>
          <input type="Password" placeholder="Ripeti Password" required ngModel name="ripetiPassword" #passwordRepeatInput>
          <span class="password-toggle" (click)="togglePasswordVisibility()">
            <i *ngIf="this.isPasswordVisible == false" class='bx bx-show' ></i>
            <i *ngIf="this.isPasswordVisible" class='bx bx-low-vision' ></i>
          </span>
        </div>
        <div class="row button">
          <button type="submit">
            <i class='bx bx-loader-alt bx-spin' *ngIf="this.isLoading"></i>
            <i class='bx bx-log-in-circle' *ngIf="this.isLoading == false"></i>
            Resetta Password
          </button>
        </div>
      </form>
    </div>
  </div>