.carrello{
    width: 40vw;
    height: 70vh;
    min-width: 300px;
    min-height: 300px;

}
.contenitorePulsanti {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.infoPiatto{
  display: flex;
  justify-content: left;
  align-items: center;
  width: min-content;
}
.elencoPiatti {
    width: 35vw;; /* Calcola la larghezza sottraendo il padding del contenitore */
    height: calc(71vh - 130px); /* Regola l'altezza sottraendo l'altezza del titolo e del contenitore pulsante */
    min-height: 200px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    overflow: auto;
    padding-top: 5px;

  }
  .contenitorePiattiMenu {
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: rgb(218, 218, 218);  
    border-radius: 10px;
    border: 2px solid purple; /* Sostituisci 'your_color' con il colore desiderato */
}

.contenitorePulsante {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
  
}

.titolo{
  text-align: center;
  margin-top: 10px;
  letter-spacing: -0.02em;
}

.inviaForm {
    margin: 10px;
  }


  .imgPiatti{
    width: 70px;
    height: 70px;
    margin-left: 5px;
    border-radius: 10px;
    margin-right: 20px;
  }

.contenitorePiattiMenu p,
.contenitorePiattiMenu h3,
.contenitorePiattiMenu mat-icon {
  margin: 0; /* Resetta il margine dei paragrafi e delle icone */
  display: flex; /* Utilizza il display flex per allineare gli elementi interni */
  align-items: center; /* Allinea verticalmente gli elementi interni al centro */
}

.pulsanteInc
.pulsanteDec{
    width: 10px;
}
.pulsateX {
    margin-left: auto;
  }
.marginePiatti {
margin-bottom: 10px;
}

.contenitoreNome{
  width: max-content;
  min-width: 250px;
}
.contenitoreCodice{
  width: 25px;
}
@media  (max-width: 1500px) {
  .contenitorePiattiMenu {
    height: auto; /* Imposta l'altezza automatica per adattarsi al contenuto */
    margin-top: 10px; /* Riduci il margine superiore */
    flex-wrap: wrap;
  }
  .contenitorePulsanti {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    flex-direction: row; /* Aggiunto per allineare i pulsanti sulla stessa linea */
  }


}

/* Stili per schermi più piccoli come quelli dei dispositivi mobili */
@media only screen and (max-width: 800px) {
  .carrello {
    width: 80vw; /* Riduci la larghezza del carrello per schermi più piccoli */
    height: auto; /* Imposta l'altezza automatica per adattarsi al contenuto */
    min-width: initial; /* Rimuovi la larghezza minima */
    min-height: 350px; /* Rimuovi l'altezza minima */
  }

  .contenitorePulsante {
    flex-direction: column; /* Modifica l'orientamento dei pulsanti in una colonna */
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }

  .elencoPiatti {
    width: 100%; /* Utilizza tutta la larghezza disponibile */
    min-height: initial; /* Rimuovi l'altezza minima */
    margin: 0; /* Rimuovi il margine laterale */
    padding: 5px; /* Riduci il padding */
    overflow: auto;
  }

  .pulsanteInc,
  .pulsanteDec {
    width: 20px; /* Aumenta la larghezza dei pulsanti +/- */
  }


h3{
  width: min-content;
}
.infoPiatto{
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  width: 100%;
  flex-direction: row;
}
.contenitoreCodice,
.contenitoreNome{
width: max-content;
}
.imgPiatti{
  width: 70px;
  height: 70px;
  margin-left: 5px;
  border-radius: 10px;
  margin-right: 20px;
}
}
