<div class="carrello">
    
    <h1 class="titolo">Carrello</h1>
    <form (ngSubmit)="onSubmit()">
    <div class="elencoPiatti">
        <div *ngFor="let piatto of servizioMenu.menu; let i = index">
            <div *ngIf="servizioMenu.getCounter(i) != 0" class="contenitorePiattiMenu ">
                <img src={{servizioMenu.getImg(i)}} class="imgPiatti">
               
                <div class="contenitoreCodice"> 
                    <p>{{servizioMenu.getCodice(i)}}</p>
                </div>

                <div class="contenitoreNome"> 
                    <p>{{servizioMenu.getNome(i)}}</p> 
                </div>
        
                <button mat-button type="button" (click)="servizioMenu.rimuoviPiatto(i)" #rimuoviBtn class="pulsateDec">-</button>
                <h3>{{servizioMenu.getCounter(i)}}</h3>
                <button mat-button type="button" (click)="servizioMenu.aggiungiPiatto(i)" #rimuoviBtn class="pulsateInc">+</button>
                <button mat-button type="button" class="pulsateX" (click)="servizioMenu.eliminaPiatto(i)"><mat-icon>delete</mat-icon></button>
                
            </div>
        </div>
    </div>
<!--     <div *ngIf="servizioMenu.carrelloVuoto()" class="nessunPiatto">Nessun piatto</div> -->
    <div class="contenitorePulsante">
        <button pButton pRipple class="p-button-success inviaForm"> 
            <i class='bx bx-cart' *ngIf="this.isLoading == false"></i>
            <i class='bx bx-loader-alt bx-spin' *ngIf="this.isLoading"></i>
            Invia Ordine 
        </button>
    </div>
</form>
</div>



