.title{
    color: rgb(255, 255, 255);
    font-family: 'Noto Sans JP';
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    margin-top: 3vh;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    margin: 20px;
    flex: 1;
}

.left-div, .right-div {
    flex: 1;
    margin: 10px;
    color: aliceblue;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Offset-x, offset-y, blur, colore */
    background-color: #04364A;
    min-width: 380px;
}


button[color="#176B87"] {
    background-color: #176B87;
    color: white; /* Cambia il colore del testo */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    /* Altri stili che desideri applicare */
}
.label{
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenitorePiattiMenu{
    margin-top: 20px;
    display: flex;
    align-items: center;
    height: 80px;
    background-color: rgb(218, 218, 218);  
    border-radius: 10px;
    border: 2px solid purple; /* Sostituisci 'your_color' con il colore desiderato */
    margin: 10px;
}
.marginePiatti {
    margin-bottom: 10px;
    margin-right: 10px;
}
.imgPiatti{
    width: 70px;
    height: 70px;
    margin-left: 5px;
    border-radius: 10px;
    margin-right: 20px;
  }
  
.elencoPiatti {
    width: 95%;; /* Calcola la larghezza sottraendo il padding del contenitore */
    height: calc(71vh - 130px); /* Regola l'altezza sottraendo l'altezza del titolo e del contenitore pulsante */
    min-height: 200px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    overflow: auto;
    padding-top: 5px;

  }
.codicePiatto{

}
.intestazioneDiv{
    height: 50px;
    margin-bottom: 50px;

}
.titoloContainer{
    padding: 10px;
    font-family: 'sf wasabi', sans-serif;

    
}


.contenitoreNome,.contenitoreCodice{
    text-align: left;
    color: #000000;
    min-width: 100px;
}


.contenitoreNome{
    width: 200px;
  }
  .contenitoreCodice{
    width: 150px;
  }

@media (max-width: 1050px) {
    .container {
        flex-direction: column;
    }
    .elencoPiatti {
        height: 100%; /* Regola l'altezza sottraendo l'altezza del titolo e del contenitore pulsante */
      }
}


@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .left-div, .right-div {
        min-width: auto; /* Rimuovi la larghezza minima impostata inizialmente */
    }

    .imgPiatti {
        width: 50px; /* Riduci la larghezza delle immagini per dispositivi mobili */
        height: 50px; /* Riduci l'altezza delle immagini per dispositivi mobili */
    }

    .contenitoreNome, .contenitoreCodice {
        width: auto; /* Imposta la larghezza automatica per dispositivi mobili */
    }
}