<h1 class="title">ordini</h1>

<div class="container">
<!--
palette : 
    #04364A
    #176B87
    #64CCC5
-->


<div class="left-div">
    <h2>Il tuo ordine</h2>

    <div *ngIf="userOrder.length == 0">
        <p class="label">Qui potrai visualizzare il tuo ordine una volta fatto</p>
    </div>

    <div *ngIf="userOrder.length > 0">
        <div class="elencoPiatti">
            <div *ngFor="let piatto of userOrder; let i = index">
                <div class="contenitorePiattiMenu marginePiatti">
                    <img src={{servizioMenu.getImg(i)}} class="imgPiatti">
                
                     <h3 class="codicePiatto">{{ piatto.idPiatto }} x {{ piatto.numeroPiatto }}</h3>

                 </div>
           <!-- Piatto ID: {{ piatto.idPiatto }}, Quantità: {{ piatto.numeroPiatto }} -->
            <!-- Aggiungi altre informazioni del piatto che desideri visualizzare -->
             </div>
         </div>

        <button mat-stroked-button color="#176B87">
            Annulla Ordine<mat-icon>delete</mat-icon>
        </button>
    </div>
    
    <br>
</div>


<div class="right-div">
    <h2>Tutti gli ordini</h2>

    
    <button mat-stroked-button color="#176B87">
        Copia Ordine<mat-icon>file_copy</mat-icon>
    </button>
    <br>
</div>



