<h1 class="title" style="margin-top: 1%;">Il tuo ordine</h1>
<br>
<div class="ordinePersonale">
    <p class="elencoPiatti">elenco piatti presi dal db</p>
    
    <button mat-stroked-button color="primary">
        Annulla Ordine<mat-icon>delete</mat-icon>
    </button>
    
</div>


<h1 class="title">Tutti gli ordini</h1>

<div class="ordinePersonale">
    <p class="elencoPiatti">elenco piatti presi dal db</p>
    <button mat-stroked-button color="primary">
        Copia Ordine<mat-icon>file_copy</mat-icon>
    </button>
</div>