<div class="messages-container">
    <p-messages [(value)]="this.MessageService.infoMessages"    [showTransitionOptions]="'300ms'" [hideTransitionOptions]="'300ms'" [enableService]="false" ></p-messages>
    <p-messages [(value)]="this.MessageService.successMessages" [showTransitionOptions]="'300ms'" [hideTransitionOptions]="'300ms'" [enableService]="false" ></p-messages>
    <p-messages [(value)]="this.MessageService.warningMessages" [showTransitionOptions]="'300ms'" [hideTransitionOptions]="'300ms'" [enableService]="false" ></p-messages>
    <p-messages [(value)]="this.MessageService.errorMessages"   [showTransitionOptions]="'300ms'" [hideTransitionOptions]="'300ms'" [enableService]="false" ></p-messages>
  </div>