<div class="container">
  <div class="wrapper">
    <div class="title"><span>Accedi</span></div>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <div class="row">
        <i class="fas fa-user"></i>
        <input type="email" placeholder="Email" required ngModel name="email">
      </div>
      <div class="row">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Password" required ngModel name="password" minlength="6">
      </div>
      <div class="row button">
        <input type="submit" value="Accedi">
      </div>
      <div class="signup-link">Non hai un account? <a routerLink="/register">Crealo qui</a></div>
      <div class="signup-link"> <a routerLink="/recuperoPword">Hai dimenticato la Password?</a></div>
    </form>
    <div *ngIf="this.authError" class="errorMessage">{{ message }}</div> 
    <div *ngIf-else>{{ message }}</div>
  </div>
</div>