@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html {
    --s: 200px; /* control the size */
    --c: #282e42; /* first color */
    
    --_g: #0000 8%,var(--c) 0 17%,#0000 0 58%;
    background: 
      linear-gradient(135deg,#0000 20.5%,var(--c) 0 29.5%,#0000 0) 0 calc(var(--s)/4),
      linear-gradient( 45deg,var(--_g)) calc(var(--s)/2) 0,
      linear-gradient(135deg,var(--_g),var(--c) 0 67%,#0000 0),        
      linear-gradient( 45deg,var(--_g),var(--c) 0 67%,#0000 0 83%,var(--c) 0 92%,#0000 0),
      #353d5a; /* second color */
    background-size: var(--s) var(--s);
  }
body{
    margin-top: 0%;

}

.mat-mdc-tab .mdc-tab__text-label {
  color: rgb(255 255 255);
  display: inline-flex;
  align-items: center;
}